{
  "presets": ["es2016","es2015"],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "inferno",
    ["fast-async"]
  ]
}
